[submodule "reference/opentype.js"]
	path = reference/opentype.js
	url = https://github.com/opentypejs/opentype.js.git
[submodule "reference/rustybuzz"]
	path = reference/rustybuzz
	url = https://github.com/harfbuzz/rustybuzz.git
[submodule "reference/bidi-js"]
	path = reference/bidi-js
	url = https://github.com/lojjic/bidi-js.git
[submodule "reference/freetype"]
	path = reference/freetype
	url = https://github.com/freetype/freetype.git
